.w1 {
    margin: 0 auto;
    height: 100px;
    width: 1500px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.w2 {
    margin: 0 auto;
    height: 1000px;
    width: 1500px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    margin-bottom: 10px;
}

.w3 {
    margin: 0 auto;
    height: 100px;
    width: 1500px;
    border: 1px solid #DEDEDE;
    width: 1000px;
    height: 100px;
    border-radius: 50px;
}

.w2::-webkit-scrollbar{ 
    display:none; 
}

.table1 {
    margin: 0 auto;
    border: 1px solid #DEDEDE;
    width: 1000px;
    height: 100px;
    border-radius: 50px;
    text-align: center;
}

.selec-box {
    border: 1px solid #DEDEDE;
    width: 150px;
    height: 30px;
    border-radius: 10px;
}

.table2 {
    margin: 0 auto;
    width: 1300px;
    height: 200px;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: .9rem;
    
}

.t2-1 {
    margin: 0 auto;
    border: 1px solid #DEDEDE;
    width: 1000px;
    height: 200px;
    border-radius: 10px;
}

.img1 {
    width: 100px;
    height: 200px;
}

.btn-list {
    width: 200px;
    margin: 0 auto;
}

.btn{
    margin-top: 25%;
    font-size: 30px;
    background-color: white;
    border: 1px solid #DEDEDE; 
    border-radius: 10px;  
}

a {
    text-decoration: none; color: black;
}

.list-title {
    font-weight: bold;
}